:root {
  --primary: #434242;
  --secondary: #68A6BE;
  --tertiary: #767474;
}


.list-group-item-primary {
  background-color: var(--primary);
  color: white;
}

.list-group-item-secondary {
  background-color: var(--secondary);
  color: white;
}

.list-group-item-tertiary {
  background-color: var(--tertiary);
  color: white;
}

.bg-tertiary {
  background-color: var(--tertiary) !important;
}

.btn-secondary {
  background-color: var(--secondary);
  color: white;
}

form {
  display: flex;
  justify-content: center;
}

.welcome-image {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 50rem;
}

.schedule-buttons button {
  width: 2.5rem;
  height: 3.25rem;
  font-family: 'Roboto Mono';
  font-size: 12px;
  border-radius: 15px !important;
  padding: .5rem .5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #2a3f4e;

  &.active {
    background-color: #2a3f4e !important;
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
  }
}

.card {
  background-color: #2a3f4e;
  color: white;
}

.card--session {
  background-color: var(--secondary);
}
