---
---

@import "{{ site.theme }}";

.form-container {
  height: 125vh;
}

.page-header {
  font-family: 'Roboto';
  background-image: url('../images/banner-background.jpeg');
  background-size: cover;
  box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.55);
}

.project-name {
  margin: 0;
  font-size: 5rem;
  line-height: 1;
}

.project-tagline {
  margin: 0;
  opacity: 0.7;
  font-size: 4rem;
}

.map-info {
  width: 100%;
}

.registration-link {
  text-align: center;
}

.registration-link a {
  font-size: 3em;
}

.schedule-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .schedule {
    max-width: 25em;
  }

  .playlist {
    text-align: center;
  }
}
