/* line 1, site.css.scss */
:root {
  --primary: #434242;
  --secondary: #68A6BE;
  --tertiary: #767474; }

/* line 8, site.css.scss */
.list-group-item-primary {
  background-color: var(--primary);
  color: white; }

/* line 13, site.css.scss */
.list-group-item-secondary {
  background-color: var(--secondary);
  color: white; }

/* line 18, site.css.scss */
.list-group-item-tertiary {
  background-color: var(--tertiary);
  color: white; }

/* line 23, site.css.scss */
.bg-tertiary {
  background-color: var(--tertiary) !important; }

/* line 27, site.css.scss */
.btn-secondary {
  background-color: var(--secondary);
  color: white; }

/* line 32, site.css.scss */
form {
  display: flex;
  justify-content: center; }

/* line 37, site.css.scss */
.welcome-image {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 50rem; }

/* line 44, site.css.scss */
.schedule-buttons button {
  width: 2.5rem;
  height: 3.25rem;
  font-family: 'Roboto Mono';
  font-size: 12px;
  border-radius: 15px !important;
  padding: .5rem .5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #2a3f4e; }
  /* line 55, site.css.scss */
  .schedule-buttons button.active {
    background-color: #2a3f4e !important;
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24); }

/* line 62, site.css.scss */
.card {
  background-color: #2a3f4e;
  color: white; }

/* line 67, site.css.scss */
.card--session {
  background-color: var(--secondary); }
