---
title: Young Adult Restreat: Schedule
---

.container.mt-2
  h1 Schedule

.container
  ul.list-group
    li.list-group-item.bg-dark.text-white
      h5 Thursday
    li.list-group-item
      .d-flex.justify-content-between
        h5.mb-1 Arrival and check-in
        span.badge.badge-pill.badge-primary.p-2 5:30-7:30 pm
  li.list-group-item.list-group-item-info
    .d-flex.justify-content-between
      h5.mb-1 Session 1
      span.badge.badge-pill.badge-primary.p-2 8:30-10:30 pm

  li.list-group-item.bg-dark.text-white
    h5 Friday
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Breakfast
      span.badge.badge-pill.badge-primary.p-2 7:30 am
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Personal devotions
      span.badge.badge-pill.badge-primary.p-2 8:15 am
  li.list-group-item.list-group-item-info
    .d-flex.justify-content-between
      h5.mb-1 Session 2
      span.badge.badge-pill.badge-primary.p-2 9:00 am
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Group discussion
      span.badge.badge-pill.badge-primary.p-2 10:45 am
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Lunch
      span.badge.badge-pill.badge-primary.p-2 12:00 pm
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Free time
      span.badge.badge-pill.badge-primary.p-2 12:30 pm
    p.mb-1 Structured Activities
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Dinner
      span.badge.badge-pill.badge-primary.p-2 6:15 pm
  li.list-group-item.list-group-item-info
    .d-flex.justify-content-between
      h5.mb-1 Session 3
      span.badge.badge-pill.badge-primary.p-2 7:30 pm
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Group discussion
      span.badge.badge-pill.badge-primary.p-2 9:00 pm

  li.list-group-item.bg-dark.text-white
    h5 Saturday
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Breakfast
      span.badge.badge-pill.badge-primary.p-2 7:30 am
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Personal devotions
      span.badge.badge-pill.badge-primary.p-2 8:15 am
  li.list-group-item.list-group-item-info
    .d-flex.justify-content-between
      h5.mb-1 Session 4
      span.badge.badge-pill.badge-primary.p-2 9:00 am
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Group discussion
      span.badge.badge-pill.badge-primary.p-2 10:45 am
  li.list-group-item
    .d-flex.justify-content-between
      h5.mb-1 Leave
      span.badge.badge-pill.badge-primary.p-2 11:15 am
